#############################
# Virtual environments etc. #
#############################

WA-1/00-common/venv/*
!WA-1/00-common/venv/setup.sh
!WA-1/00-common/venv/clean.sh

########################
# Raw trajectory files #
########################

WA-1/01-single-molecule/*/md.traj
WA-1/01-single-molecule/*/traj.xyz
WA-1/02-three-molecules/*/md.traj
WA-1/02-three-molecules/*/traj.xyz
WA-1/03-crystal-rtp/md.traj
WA-1/03-crystal-rtp/traj.xyz

