#############################
# Virtual environments etc. #
#############################

WA-1/00-common/venv/*
!WA-1/00-common/venv/setup.sh
!WA-1/00-common/venv/clean.sh

########################
# Raw trajectory files #
########################

WA-1/*/md.traj
WA-1/*/traj.xyz
WA-1/*/*/md.traj
WA-1/*/*/traj.xyz

WA-2/data/input.xyz

