#############################
# Virtual environments etc. #
#############################

WA-1/00-common/venv/*

########################
# Raw trajectory files #
########################

WA-1/01-single-molecule/*/md.traj
WA-1/01-single-molecule/*/traj.xyz

